[*.cs]

# CS8963: Класс CallerArgumentExpressionAttribute применен с недопустимым именем параметра.
dotnet_diagnostic.CS8963.severity = error

# CA1416: Проверка совместимости платформы
dotnet_diagnostic.CA1416.severity = silent
